@import url(http://fonts.googleapis.com/css?family=Denk+One);

body {
    margin: 0;
    padding: 0;
    /*background-color: #A8A8A8 ;*/
    font-family: Consolas, monospace;
    background-image: url(img/backgroundPapper.jpg);

}

#divPlayArea {
  width: 990px;
  height: 600px;
  background-color: rgba(241, 241, 241, 0.32);
  border:2px solid #d3d3d3;

}

.correct {
  background-color: green;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.incorrect {
  background-color: red;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.hangmanBox {
  width: 280px;
  height: 450px;
  margin: 120px 500px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;
  background-image: url(img/hangman.png);

}

.guessBtn {
  background-color: black;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.message{
  position: absolute;
  margin: 200px 40px;
  width: 430px;
  height: 50px;
  /*background-color: white;
  border: solid 1px #d3d3d3;*/

}

.guessingBox{
  position: absolute;
  background-color: white;
  margin: 300px 40px;
  width: 430px;
  height: 50px;
  border: solid 1px #d3d3d3;

}

.keypadBox {
  font-family: monospace;
  width: 450px;
  height: 170px;
  margin: 396px 24px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;

}
.keypadBoxH :hover {
  animation-name: pulse_animation;
	animation-duration: 2000ms;
	transform-origin:40% 40%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  background-color: white;
  color: black;

}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% {
    transform: scale(1.48);
    background-color: green;

  }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% {
    transform: scale(1.45);
    background-color: red;
  }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.letter{
  font-size: 27px;
  font-family: monospace;
}

.badge{
  font-size: 20px;
}


/*http://jsfiddle.net/leaverou/y8kNx/*/
/*This is the souce of the letter that appearing ther top using h1 tag*/
h1 {
  margin: 10px 200px;
  color: rgba(0, 0, 0, 0.39);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.47);
  font-family: 'Denk One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5em;

  width:16.3em;
  white-space:nowrap;
  overflow:hidden;
  border-right: .1em solid black;

  -webkit-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                      blink-caret 1s step-end infinite;
  -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                      blink-caret 1s step-end infinite;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
