body {
    margin: 0;
    padding: 0;
    background-color: #A8A8A8 ;
    font-family: monospace;
}

#divPlayArea {
  width: 800px;
  height: 600px;
  background-color: #f1f1f1;
  border:2px solid #d3d3d3;

}

.correct {
  background-color: green;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.incorrect {
  background-color: red;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.hangmanBox {
  width: 280px;
  height: 450px;
  margin: 120px 500px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;

}

.guessBtn {
  background-color: black;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.message{
  position: absolute;
  margin: 200px 40px;
  width: 430px;
  height: 50px;
  /*background-color: white;
  border: solid 1px #d3d3d3;*/

}

.guessingBox{
  position: absolute;
  background-color: white;
  margin: 300px 40px;
  width: 430px;
  height: 50px;
  border: solid 1px #d3d3d3;

}

.keypadBox {
  font-family: monospace;
  width: 450px;
  height: 170px;
  margin: 396px 24px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;

}
.keypadBoxH :hover {
  animation-name: pulse_animation;
	animation-duration: 2000ms;
	transform-origin:40% 40%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  background-color: white;
  color: black;

}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% {
    transform: scale(1.48);
    background-color: green;

  }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% {
    transform: scale(1.45);
    background-color: red;
  }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.letter{
  font-size: 27px;
  font-family: monospace;
}

.badge{
  font-size: 20px;
}
