body {
    margin: 0;
    padding: 0;
    background-color: #A8A8A8 ;
    font-family: monospace;
}

#divPlayArea {
  width: 800px;
  height: 600px;
  background-color: #f1f1f1;
  border:2px solid #d3d3d3;

}

.correct {
  background-color: green;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.incorrect {
  background-color: red;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.hangmanBox {
  width: 280px;
  height: 450px;
  margin: 120px 500px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;

}

.keypadBox {
  font-family: monospace;
  width: 450px;
  height: 170px;
  margin: 346px 24px;
  position: absolute;
  background-color: white;
  border: solid 1px #d3d3d3;

}

.guessBtn {
  background-color: black;
  color: white;
  width: 60px;
  height: 40px;
  font-size: 28px;
}

.guessingBox{
  position: absolute;
  background-color: white;
  margin: 180px 40px;
  width: 430px;
  height: 50px;

}
.letter{
  font-size: 27px;
  font-family: monospace;
}

.badge{
  font-size: 20px;
}
